<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FenngClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E917D742151E2EB00D8719C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E917D8C2151E2ED00D8719C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E917DA02151E57500D8719C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
